.contai .card {
    position: relative;
    overflow: hidden;
}

.contai:hover .card {
    opacity: 0.2;
}

.contai .card:hover {
    opacity: 1;
}

.contai .card::before {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
}


.contai .card span {
    transition: 0.5s;
    opacity: 0;
}

.contai .card:hover span {
    opacity: 1;
}

.contai .card span:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to right, transparent, #04cdff);
    animation: animate1 2s linear infinite;
}

@keyframes animate1 {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}

.contai .card span:nth-child(2) {
    position: absolute;
    top: 0;
    right: 0;
    width: 3PX;
    height: 100%;
    background: linear-gradient(to bottom, transparent, #04cdff);
    animation: animate2 2s linear infinite;
    animation-delay: 1s;
}

@keyframes animate2 {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(100%);
    }
}

.contai .card span:nth-child(3) {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3PX;
    background: linear-gradient(to left, transparent, #04cdff);
    animation: animate3 2s linear infinite;
    /* animation-delay: 1s; */
}

@keyframes animate3 {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.contai .card span:nth-child(4) {
    position: absolute;
    top: 0;
    left: 0;
    width: 3PX;
    height: 100%;
    background: linear-gradient(to top, transparent, #04cdff);
    animation: animate4 2s linear infinite;
    animation-delay: 1s;
}

@keyframes animate4 {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(-100%);
    }
}