@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

$negro: #111111;
$blanco: #FEFEFE;
$grisOscuro: #222222;
$grisClaro: #C8C8C8;
$grisClaroHover: #ACABAB;
$personalidzado:#0c132e;
$azul: #3E60E9;
$azulHover: #254BE6;
$rojo:#ff0000;
$rosado: #c40082;




:root {
    --outer-shadow: 4px 4px 4px #d0d0d0, -4px -4px 4px #f8f8f8;
    --outer-shadow-0: 0 0 0 #d0d0d0, 0 0 0 #f8f8f8;
    --inner-shadow: inset 4px 4px 4px #d0d0d0, inset -4px -4px 4px #f8f8f8;
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    &.dark {
        background: $personalidzado;
    }
}

.outer-shadow {
    box-shadow: var(--outer-shadow);
}

/*
--------------------------------------------------------
                             Navbar
-------------------------------------------------------
*/

.navbar {
    z-index: 1;

    .navbar-brand strong {
        color: rgb(255, 255, 255);
        font-size: 28px;
        font-weight: 500;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }

    .navbar-brand span {
        color: rgb(235, 0, 78);
        font-weight: 300;
        font-size: 25px;
        font-family: 'Fredoka One', cursive;
    }
}

/*---------------------Button_Nocturno---------------*/
.navbar .navbar-collapse .nocturno {
    margin-left: 12px;
    margin: 5px 10px 0 9px;

    .switch {
        background: #151f42;

        border-radius: 1000px;
        border: none;
        position: relative;
        cursor: pointer;
        display: flex;
        outline: none;

        &::after {
            content: "";
            display: block;
            width: 30px;
            height: 30px;
            position: absolute;
            background: #3A1C71;
            background: -webkit-linear-gradient(to right, #ffffff, #f5f4f4ee, #202020c4, #000000);
            background: linear-gradient(to right, #ffffff, #f5f4f4ee, #202020c4, #000000);
            top: 0;
            left: 0;
            right: unset;
            border-radius: 100px;
            transition: .3s ease all;
            box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, .2);
        }

        &.active {
            background: white;
            color: #fff;

            &::after {
                right: 0;
                left: unset
            }
        }

        span {
            width: 30px;
            height: 30px;
            line-height: 30px;
            display: block;
            background: none;
            color: rgb(255, 255, 255);
        }
    }
}

/* ----------------------------------------------------
.navbar li.nav-item.active {
    // background: rgba(255, 0, 0, 0.685);
    // color: $blanco;
}
---------------------------------------------------- */
.navbar {
    background-color: rgba(0, 0, 0, 0.514);

}

.top-nav-collapse {
    background: linear-gradient(left, rgb(2, 6, 29), rgb(0, 53, 70));

}

@media only screen and (max-width: 768px) {
    .navbar {
        background: linear-gradient(left, rgb(2, 6, 29), rgb(0, 53, 70));
    }
}

/*
-------------------------------------------------
                        Button_UP
------------------------------------------------------
*/

.btn_arriba {
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #15192b;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    z-index: 12;
    text-decoration: none;
    line-height: 50px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, .5);
    font-size: 25px;

    // body.dark & {
    //     box-shadow: 0px 1px 10px rgba(255, 255, 255, 0.5);
    // }
}

.btn_arriba:hover {
    color: black;
    background: rgb(255, 255, 255);
}

/*
----------------------------------------------------
                        Main
------------------------------------------------------
*/
#inicio {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    min-height: 500px;
    // padding-top: -80px;

    background: #141E30;
    background: -webkit-linear-gradient(to right, hsla(0, 0%, 0%, 0.788), hsla(0, 0%, 0%, 0.5)), url(../img/header.jpg);
    background: linear-gradient(to right, hsla(0, 0%, 0%, 0.788), hsla(0, 0%, 0%, 0.473)), url(../img/header.jpg);

    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .row {

        .text_content {
            line-height: 70px;
            margin: auto 0 auto 40px;

            .text-1 {
                font-weight: 650;
                font-size: 27px;
                color: #d3d3d3;
            }

            .text-2 {
                font-size: 70px;
                font-weight: 600;
                margin-left: -3px;
                color: rgb(219, 219, 219);
            }

            .text-3 {
                font-size: 40px;
                font-weight: 600;
                font-family: 'Times New Roman', Times, serif;
                margin: 5px 0;
                color: rgb(206, 203, 203);
            }

            .text-3 span {
                color: rgb(235, 0, 70);
                font-weight: 500;
            }
        }
    }

    .fa-chevron-down {
        padding-top: 50%;
        margin-left: 50%;
        padding: 0%;
        font-size: 50px;
        color: #868686;
    }

    .fa-chevron-down:hover {
        transform: scale(0.8);
        color: $rojo;
    }
}

//-------------------Media Query------------

@media screen and (min-width:380px) and (max-width:540px) {
    #inicio {
        .row {
            padding-top: 60px;
            padding-bottom: 80px;

            .text_content {
                line-height: 53px;

                .text-2 {
                    font-size: 30px;
                }

                .text-3 {
                    font-size: 29px;
                    margin: 5px 0;
                }
            }

            .fa-chevron-down {
                margin-top: 90%;
                // margin-left: 50%;
                padding: 0%;
                font-size: 50px;
            }
        }
    }
}

@media screen and (min-width:600px) and(max-width:900px) {
    #inicio {
        .row {
            padding-top: 60px;
            padding-bottom: 70px;

            .text_content {
                // line-height: 53px;

                .text-2 {
                    font-size: 60px;
                    // color: #33ff00;
                }
            }

            .fa-chevron-down {
                margin-top: 90%;
                // margin-left: 50%;
                padding: 0%;
                font-size: 50px;
            }
        }
    }
}

/*
--------------------------------------------------------
                             About
-------------------------------------------------------
*/
#about {
    height: 100%;
    padding-bottom: 10%;
    padding-top: 5%;

    body.dark & {
        color: $grisClaro
    }


    .title {
        padding-bottom: 25px;
        position: relative;
        font-family: 'Times New Roman', Times, serif;
        margin-bottom: 30px;
    }

    .title::before {
        body.dark & {
            background: $grisClaro;
        }

        content: "";
        position: absolute;
        bottom: 0px;
        left: 50%;
        width:200px;
        height: 3px;
        background: #111;
        transform: translateX(-50%);
    }

    .title::after {
        body.dark & {
            background: $personalidzado;
        }

        content: "Quien SOy";
        position: absolute;
        bottom: -12px;
        left: 50%;
        font-size: 20px;
        padding: 8px;
        color: crimson;
        background: rgb(255, 255, 255);
        transform: translateX(-50%);
    }

    .row {
        display: flex;
        justify-content: space-evenly;
        // align-items: center;
        flex-wrap: wrap;

        //----------image-------------

        .about_image {
            border-radius: 15px;
            width: 400px;
            box-shadow: 0px 1px 10px rgba(0, 0, 0, .6);

            img {
                border-radius: 15px;
                height: 500px;
                width: 400px;
                object-fit: cover;
            }
        }

        //---------text_animate-------------
        .column_right {
            margin-top: 40px;

            .animate {
                font-size: 25px;
                font-weight: 600;
                margin-bottom: 10px;

                span {
                    color: rgb(235, 0, 70);
                    font-weight: 500;
                }
            }

            a {
                border-radius: 20px;
            }
        }
    }
}


@media screen and (min-width:760px) and(max-width:900px) {
    #about {
        position: relative;
    }
}

/*
--------------------------------------------------------
                             Services
-------------------------------------------------------
*/

#service {
    position: relative;
    height: 100%;
    padding-bottom: 10%;
    padding-top: 6%;
    background: #141E30;
    background: -webkit-linear-gradient(to bottom, rgb(22, 22, 22), rgb(34, 1, 61), hsla(0, 0%, 0%, 0.5)), url(../img/Copia.jpg);
    background: linear-gradient(to bottom, rgb(22, 22, 22), rgb(34, 1, 61), hsla(0, 0%, 0%, 0.473)), url(../img/Copia.jpg);
    background-attachment: scroll;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    // body.dark & {
    //     background: $grisOscuro;
    // }

    .titulo {
        color: $blanco;
        padding-bottom: 25px;
        position: relative;
        font-family: 'Times New Roman', Times, serif;
        margin-bottom: 30px;
    }

    .titulo::before {
        content: "";
        position: absolute;
        bottom: 0px;
        left: 50%;
        width: 250px;
        height: 3px;
        background: rgb(255, 255, 255);
        transform: translateX(-50%);
    }

    .titulo::after {
        content: "Lo que proporciono";
        position: absolute;
        bottom: -12px;
        left: 50%;
        font-size: 20px;
        padding: 8px;
        color: rgb(20, 207, 220);
        background: rgb(20, 20, 20);
        transform: translateX(-50%);
    }

    .services_content {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;

        .card {
            // margin-top: 60px;
            // margin-bottom: 40px;
            // width: calc(33% - 20px);
            color: $blanco;
            text-align: center;
            background: linear-gradient(to left, #1488cc, #2b32b2);
            padding: 20px 25px;
            border-radius: 15px;
            cursor: pointer;
            transition: all 0.3s ease;

            .service_box {
                transition: all 0.3s ease;
            }

            .fas {
                font-size: 60px;
                color: rgb(255, 255, 255);
                // margin: 15px 0 20px 0;
            }

            .text_fas {
                // color: rgb(0, 225, 255);
                font-weight: 500;
                font-size: 25px;
                margin: 10px 0 7px 0;
            }

            p {
                text-align: justify;
                color: rgb(187, 187, 187);
            }
        }

        .card:hover .service_box {
            transform: scale(1.05);
        }
    }

    #porcentaje {

        // width: 900px;
        // display: flex;
        // flex-wrap: wrap;
        // justify-content: space-between;
        .card {
            background: none;
            position: relative;
            height: 400px;
            text-align: center;
            z-index: 10;
            // margin: 20px 20px 60px;
            transition: 0.5s;

            .text_box {
                position: relative;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                background: rgba(255, 255, 255, 0.05);
                box-shadow: 0 8px 10px rgba(235, 235, 235, 0.5);
                backdrop-filter: blur(15px);
                border: 1px solid rgba(255, 255, 255, 0.1);
                border-radius: 12px;
                z-index: 10;

                .porcentaje {
                    position: relative;
                    width: 150px;
                    height: 150px;
                    border-radius: 50%;
                    z-index: 100;

                    // svg {
                    //     position: relative;
                    //     width: 150px;
                    //     height: 150px;

                    //     circle {
                    //         width: 100%;
                    //         height: 100%;
                    //         fill: none;
                    //         stroke-width: 10;
                    //         stroke: rgba(255, 255, 255, 0.05);
                    //         transform: translate(5px, 5px);
                    //         stroke-linecap: round;
                    //     }
                    // }

                    // svg circle:nth-child(2) {
                    //     stroke: #fff;
                    //     stroke-dasharray: 440px;
                    //     stroke-dashoffset: 440px;
                    // }


                    .numero {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        h2 {
                            color: $blanco;
                            font-weight: 700;
                            font-size: 50px;

                            span {
                                font-size: 24px;
                            }
                        }
                    }
                }
            }

            .text_circle {
                position: absolute;
                bottom: -42px;
                color: $blanco;
                background: red;
                left: 50%;
                transform: translateX(-50%);
                text-align: center;
                padding: 30px 20px 10px;
                border-radius: 10px;
                font-weight: 800;
                font-size: 18px;
                letter-spacing: 1px;
                text-transform: uppercase;
                box-shadow: 0 15px 35px rgba(199, 199, 199, 0.411);
                z-index: 1;
                pointer-events: none;
                transition: bottom 0.5s, z-index 0s, transform 0.5s, padding 0.5s;
                transition-delay: 0.5s, 0.5s, 0s, 0.5s;
                color: #fff;
            }
        }

        .card:hover .text_circle {
            transition-delay: 0s, 0.5s, 0.5s, 0s;
            bottom: -70px;
            z-index: 11;
            transform: translateX(-50%) translateY(-50px);
            padding: 10px 20px 10px;
        }

        // .card:nth-child(3) .text_circle {
        //     background: yellow;
        // }

        // .card:nth-child(1) .text_circle {
        //     background: rgb(60, 255, 0);
        // }

        // .card:nth-child(3) .text_circle {
        //     background: rgb(255, 0, 64);
        // }

        .card .html {
            background: rgb(255, 0, 0);
        }

        .card .css {
            background: rgb(0, 217, 255);
        }

        .card .js {
            background: rgb(0, 255, 55);
        }


        svg {
            position: relative;
            width: 150px;
            height: 150px;
        }

        svg circle {
            width: 100%;
            height: 100%;
            fill: none;
            stroke-width: 10;
            stroke: rgba(255, 255, 255, 0.05);
            transform: translate(5px, 5px);
            stroke-linecap: round;
        }


        svg circle:nth-child(2) {
            stroke: #fff;
            stroke-dasharray: 440px;
            stroke-dashoffset: 540px;
        }

        .card:nth-child(1) svg circle:nth-child(2) {
            stroke-dashoffset: calc(440px - (440px * 90) / 100);
        }

        .card:nth-child(2) svg circle:nth-child(2) {
            stroke-dashoffset: calc(440px - (440px * 88) / 100);
        }

        .card:nth-child(3) svg circle:nth-child(2) {
            stroke-dashoffset: calc(440px - (440px * 50) / 100);
        }
    }
}

@media screen and (min-width:380px) and (max-width:540px) {
    #service {
        .services_content {
            .card {
                // width: calc(90% - 5px);
                // margin-bottom: 20px;
                // margin-left: auto;
                // margin-right: auto;
            }
        }
    }
}


@media screen and (min-width:760px) and(max-width:900px) {
    #service {
        .services_content {
            .card {
                // width: calc(50% - 10px);
                // margin-bottom: 20px;
            }
        }
    }
}