* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to left, hsla(201, 100%, 50%, 0.344), hsla(305, 100%, 50%, 0.35)), url(Captura.PNG);
}


h1 {
    color: #fff;
    text-align: center;
    margin-top: 230px;
    font-weight: 800;
    font-size: 5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    -webkit-transform: rotate(-40deg);
    transform: rotate(-40deg);
}